<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>ABOUT DAGFA </h1>
<h3>What is DAGFA</h3>
DAGFA, which stands for Directory of Aerial, Ground, and Flow Arts is a listing of acrobatic classes around the world.

<h3>Do I have to sign up?</h3>
If you are a studio and want to add your classes, you must make an account. Then, go under settings and update your address. Under your user profile, you will be able to add new classes.

<h3>Who runs DAGFA?</h3>
DAGFA is run by Lanya Butler (lanya.butler@att.net)

</div></div>