<div class="row">
  <div class="col-md-8 col-md-offset-2">
<h1>INFO</h1>
 <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      	<tr>
      		<td><img src="http://i.imgur.com/W7gPL8h.jpg"><br>Lyra</td>
      		<td>Lyra, also called the <i>aerial hoop, aerial ring or cerceau/cerceaux</i> is a circular steel apparatus (resembling a hula hoop) suspended from the ceiling, on which circus artists may perform aerial acrobatics. It can be used static, spinning, or swinging.</td>
      	</tr>

      	<tr>
      		<td><img src="http://i.imgur.com/KzmCJas.jpg"><br>Aerial Silks</td>
      		<td>Aerial silks, Also called <i>aerial contortion, aerial ribbons, aerial silks, aerial tissues, fabric, ribbon, or tissu, is a type of performance in which one or more artists perform aerial acrobatics while hanging from a special fabric. Performers climb the suspended fabric without the use of safety lines, and rely only on their training and skill to ensure safety. They use the fabric to wrap, suspend, fall, swing, and spiral their bodies into and out of various positions. Aerial silks may be used to fly through the air, striking poses and figures while flying.</td>
      	</tr>

      	<tr>
      		<td><img src="http://i.imgur.com/48enzSJ.jpg"><br>Static Trapeze</td>
      		<td> Static trapeze, also known as <i>fixed trapeze</i>, is a type of circus art performed on the trapeze. In contrast to the other forms of trapeze, on static trapeze the bars and ropes mainly stay in place.

</td>
      	</tr>

      	<tr>
      		<td><img src="http://i.imgur.com/TDz25Hr.jpg"><br>Corde Lisse</td>
      		<td>Corde lisse, also called <i>aerial rope</i> moves are normally a combination of held postures and drops using a rope that hangs from the ceiling. These ropes are normally made from soft cotton about 30-35mm thick. The technique is closely related to both aerial silks and Spanish web. </td>
      	</tr>


      </tbody>
    </table>

</div></div>