<div class="row">
  <div class="col-md-8 col-md-offset-2">
<h1>INFO</h1>
 <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      	<tr>
      		<td><img src="http://i.imgur.com/W7gPL8h.jpg"><br>Lyra</td>
      		<td>blah3</td>
      	</tr>

      	<tr>
      		<td><img src="http://i.imgur.com/KzmCJas.jpg"><br>Aerial Silks</td>
      		<td>Aerial silks, Also called <i>aerial tissu</i> is a blah</td>
      	</tr>

      	<tr>
      		<td><img src="http://i.imgur.com/48enzSJ.jpg"><br>Static Trapeze</td>
      		<td> blah blah blah</td>
      	</tr>

      	<tr>
      		<td><img src="http://i.imgur.com/TDz25Hr.jpg"><br>Corde Lisse</td>
      		<td>blah3</td>
      	</tr>


      </tbody>
    </table>

</div></div>