<div class="row">
  <div class="col-md-10 col-md-offset-1">

<h1>Studio List</h1>
   <%# show_filters: :when_filtered %>
  <%= grid(@users_grid) do |g|
    g.column  name: 'name', attribute: 'name' do |task|
      link_to(task.name, task)
    end

    g.column  name: 'address', attribute: 'address' do |task|
      task.address
    end

    g.column  name: 'email', attribute: 'email' do |task|
      task.email
    end

    g.column  name: 'class type', attribute: 'classtype', model: Event do |task|
      #task.events.each do |event|
      #  event.classtype
      task.class_type
      #end
    end

  end %>

<br>

</div>

</body>

</div>
</div>